/* CSS Document */
.breaking{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#666666;
font-weight:bold;
border-style:dotted;
border-width:1px;
border-color:#666666;

}
body {
font-family:Arial, Helvetica, sans-serif;
background-color:#000000;
font-size:12px;

}
.copyright{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#666666;
}
.textonormal{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#999999;
}
/*
a:link{
color:#CCCCCC;
color:#FFFF00;
text-decoration:none;
}
a:visited{
text-decoration:none;
color:#CCCCCC;
}
a:active{
color:#CCCCCC;
text-decoration:none;
}
a:hover{
color:#666666;
text-decoration:none;
}
*/
a:link{
color:#c4a300;
text-decoration:none;
}
a:visited{
text-decoration:none;
color:#c4a300;
}
a:active{
color:#c4a300;
text-decoration:none;
}
a:hover{
color:#ffffff;
text-decoration:none;
}

a.noticia:link{
color:#c4a300;
text-decoration:none;
font-weight:bold;
}
a.noticia:visited{
text-decoration:none;
color:#c4a300;
font-weight:bold;
}
a.noticia:active{
color:#c4a300;
text-decoration:none;
font-weight:bold;
}
a.noticia:hover{
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
}
.tablasmain{
font-size:11px;
color:#999999;

}
/*
.headertabla{
color:#c4a300;

font-size:12px;
font-weight:bold;

}*/
.headertabla{

color:#00A556;
font-size:12px;
font-weight:bold;

}
.headertablatop{

color:#00A556;
font-size:12px;
font-weight:bold;

}
.titlenoticiainside{
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
color:#ffffff;
}
.textonoticia{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#999999;
}
.capavolante{
		display:none; 
      position:absolute; 
      border-style: solid;
	  border-color:#c4a300;
      background-color:#000000; 
      padding: 5px;"
	  }
